.placeholder {
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  height: 500px;
  width: 100%;
  color: #eaeaea;
  background-image: url('https://cdn.memes.com/up/58630471641107073/i/1641125828597.jpg');
}
